

// MIXINS
@import "../1-helpers/_mixin.scss";


/*=====================================
            CITIES PAGE STYLE
======================================*/
.city-part {
    padding: 100px 0px;
}

// Responsive style
@media (max-width: 767px) {
    .city-part {
        padding: 60px 0px;
    }
}

@media(min-width: 768px) and (min-width: 991px) {
    .city-part {
        padding: 80px 0px;
    }
}